@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
}

:root[class~="dark"] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}

body {
  @apply h-[100svh] overflow-hidden text-text bg-background;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  @apply text-lg;
}

input {
  @apply text-text bg-background-mute border border-border;
}

label {
  @apply text-xs;
}

#app {
  @apply h-full flex flex-col;
}

.tab {
  @apply px-2 text-sm border-b-2 border-background focus:outline-none focus:ring-0 ui-selected:border-blue-500;
}
