@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
}

:root[class~="dark"] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}

body {
  @apply h-[100svh] overflow-hidden text-text bg-background;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  @apply text-lg;
}

h2 {
  @apply text-heading text-lg;
}

input {
  @apply bg-background-mute text-text;
}

input[type="number"] { 
  @apply border border-border;
}

label {
  @apply text-xs;
}

#app {
  @apply h-full flex flex-col;
}

.tab {
  @apply px-2 text-sm border-b-2 border-background focus:outline-none focus:ring-0 ui-selected:border-blue-500;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid var(--color-border-hover);
  border-inline: 7px solid transparent;
  transform: rotate(-90deg);
  transition: 0.2s;
}

details[open] > summary::before {
  transform: rotate(0deg);
}

input[type="range"] {
  @apply appearance-none cursor-pointer bg-transparent;
}

input[type="range"]::-moz-range-track {
  @apply bg-border h-1;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-border h-1;
}

input[type="range"]::-webkit-slider-thumb {
  @apply w-4 h-4 -mt-1.5 bg-text rounded-full appearance-none;
}

input[type="range"]::-moz-range-thumb {
  @apply w-4 h-4 -mt-1.5 bg-text rounded-full appearance-none;
}